---
import "..//styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Readify</title>
  </head>
<body class = "bg-[#5D2E46]">
<ul class="list-none m-0 p-0 flex gap-6">
  <li><a href=/">Home</a></li>
  <li><a href="/reviews">Reviews</a></li>
  <li><a href="/about">About</a></li>
</ul>
  <h1 text-center>Readify</h1>
  
  <p>Welcome to Readify. A website where you can create reviews of books that you've read and find your next favourite book.</p>
</body>
</html>